.App {
  text-align:justify;
  justify-content: center;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.render-content{
  
  flex-direction:column;
}
input{
  padding: 10px;
  margin: 10px;

}
button{
  padding: 10px;
  background-color: #336349;
  border:0cm;
  color: white;
}
button:hover{
  background-color: #03c259;
}